$def with (recent,menustatus)
$var recent = recent
$var menustatus = menustatus
$var relativedir: ../
$var active: citing
$var description: Please cite the following paper if you use GT-Scan in your work.
$var title: GT-Scan | Citing
$var cssfile:
    ../static/css/gt-scan.css
$var jsfiles:
    ../static/js/jquery.min.js
    ../static/js/menu.js 

<div id=main>
<div id=main_content>
    <h1>Citing</h1>
    <h3>To cite GT-Scan</h3>
    <ul>
        <li><i>GT-Scan: Identifying unique genomic targets</i><br>
        Aidan O'Brien; Timothy L. Bailey<br>
        Bioinformatics 2014;<br>
        doi: 10.1093/bioinformatics/btu354</p> 
    </ul>
    <iframe seamless id=citation src="http://www.ncbi.nlm.nih.gov/pubmed/24860161?dopt=Abstract&format=text"></iframe>
</div>
</div>
